body {
   font-family: Calibri, Arial, sans-serif;  
}

ul{
border: 1px blue solid; }


img {
   height: 200px;
   width:  300px;
   border: 2px green dashed;
   padding: 5px 10px 5px 10px;
}

#first-question {
 color:red;
}

.section-heading {background-color: #999900;
          font-style: italic; }
